
.app-footer, .app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    background-color: darkseagreen;
    padding: 15px;
}

.app-header nav {
    display: flex;
    gap: 10px;
}

.app-header a {
    text-decoration: none;
    color:black;
}

a:hover {
    color: #fff;
} 
nav.router-link-exact-active {
    color: #fff;
}

.app-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
